.legend-creo-mod-page {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: 0;
  padding: 0;
  background: rgb(0, 35, 255);
  background: linear-gradient(
    45deg,
    rgba(0, 35, 255, 1) 0%,
    rgba(243, 0, 255, 1) 100%
  );
  font-size: 18px;
}

.legend-creo-mod-page .content {
  width: 50%;
  height: 50%;
  position: fixed;
  top: 25%;
  left: 25%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  border: 2px solid rgba(234, 0, 255, 0.644);
  box-shadow: 10px 5px 5px black;
  background-color: rgb(255, 255, 255);
}

.legend-creo-mod-page .button {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  background-color: #fff;
  color: #222;
  font-size: 18px;
  width: 200px;
  margin: 10px;
}

.legend-creo-mod-page .vk {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 10px;
}

.legend-creo-mod-page p {
  margin: 10px;
}

.legend-creo-mod-page label {
  color: rgb(0, 0, 0);
}
