.app-bar {
  display: flex;
  min-height: 64px;
  padding: 0 16px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
}

.app-bar__block {
  display: flex;
  align-items: center;
}

.app-bar__title-block {
  margin-left: 32px;
}

@keyframes color-loop {
  0% {
    color: #ffcdd2;
  }
  10% {
    color: #f8bbd0;
  }
  20% {
    color: #e1bee7;
  }
  30% {
    color: #d1c4e9;
  }
  40% {
    color: #c5cae9;
  }
  50% {
    color: #bbdefb;
  }
  60% {
    color: #b3e5fc;
  }
  70% {
    color: #b2ebf2;
  }
  80% {
    color: #b2dfdb;
  }
  90% {
    color: #c8e6c9;
  }
  100% {
    color: #dcedc8;
  }
}

.app-bar__brand-link {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 1.5rem;
  text-decoration: none;
  animation: 6s linear 0s infinite alternate color-loop;
}

.app-bar__page-title {
  font-size: 1.25rem;
}

@media screen and (max-width: 960px) {
  .app-bar {
    min-height: 48px;
  }

  .app-bar__title-block {
    margin-left: 24px;
  }
}
