.antoni-kochet-page {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-image: url(github_PNG28.png);
}

.antoni-kochet-page .content {
  margin-top: 80px;
}

.antoni-kochet-page .outerDiv {
  display: flex;
  justify-content: center;
  padding-top: 16px;
  align-items: center;
  flex-direction: column;
}

.antoni-kochet-page .input {
  display: block;
  background-color: #fff;
  color: #222;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  position: relative;
  padding: 5px 5px;
  margin: 5px;
  font-size: 16px;
  width: 200px;
  height: 40px;
}

.antoni-kochet-page .button {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  background-color: #fff;
  color: #222;
  font-size: 16px;
  width: 200px;
  margin: 25px;
  position: relative;
}

.antoni-kochet-page .vklabel {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 10px;
}

.antoni-kochet-page .ReposUser {
  justify-content: center;
  margin: auto;
}
