.shamray {
  color: gray;
  font-size: 125%;
  font-family: San-Francisco;
  text-align: left;
}

.outer {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.inner {
  background: #ffffff;
  width: 280px;
  height: 130px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -100px;
  padding: 20px;
  border-width: 7px;
  border-style: solid;
  border-color: #19bb4f;
}
